.parent_area{
    background-color: azure;
    text-align: center;
}
.spouse_area{
    background-color: FloralWhite;
    text-align: center;
}
.child_area{
    background-color: lavender;
    text-align: center;
}
.person{
    background-color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}
.label{
    height:100%;
    display:table-cell;
    vertical-align: middle;
    transform-origin:left;
    transform: rotate(-90deg) translate(-100%,10px);
    float: left;
}

.controls{
    position:fixed;
    top:15px;
    right:30px;
    font-size: xxx-large;
}

.inline_element {
    margin:15px;
    padding:15px;
    border-radius: 15px;
    background-color: antiquewhite;
}

.header {
    height:96px;
}

.thumb {
    position:fixed;
    top:15px;
    left:30px;
}

.thumb_image {
    border-radius: 50%;
}

h1 {
    text-align: center;
}
