.parent_area{
    background-color: azure;
    text-align: center;
}
.spouse_area{
    background-color: FloralWhite;
    text-align: center;
}
.child_area{
    background-color: lavender;
    text-align: center;
}
.person{
    background-color: white;
    display: inline-block;
    border: 1px solid white;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}
.label{
    height:100%;
    display:table-cell;
    vertical-align: middle;
    transform-origin:left;
    transform: rotate(-90deg) translate(-100%,10px);
    float: left;                
}

.controls{
    position:fixed;
    top:0;
    right:0;
}

h1 {
    text-align: center;
}
